{% extends 'layout.html' %}

{% block title %}
    Bloger's Hub
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Bloger's Hub</h1>
<a class = "btn btn-primary mb-4" href ="{% url 'scheduleCreate' %}"> Create a new Blog </a>
<div class="container row gap-3">
    
    {% for schedule in schedules %}
    <div class="card" style="width: 18rem;">
        <img src="{{schedule.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{schedule.user.username}}</h5>
          <p class="card-text">{{schedule.text}}}</p>
          
          {% if schedule.user == user %}
          <a href="{% url 'scheduleEdit' schedule.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'scheduleDelete' schedule.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>  
    {% endfor %}
        
</div>
{% endblock %}
