{% extends 'layout.html' %}

{% block title %}
    Scheduler
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Scheduler Django Project</h1>
<h2>
    
    {% if form.instance.pk %}
    Edit schedule
    {% else %}
    Create schedule       
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {%csrf_token%}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Add Schedule</button>
    </form>
    <a href="{% url 'schedulerList' %}"> Back To schedule List </a>

</h2>

{% endblock %}
